
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d; /* Fundo pret */
    color: #f0f0f0; /* Cor do texto branco */
    overflow-x: hidden;
}

.main-container {
    display: flex;
    min-height: 100vh;
}


/* Sidebar - Barra Lateral */
.sidebar {
    width: 250px;
    background-color: #1a1a1a; /* Fundo mais escuro */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.logo h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #9b59b6; /* Roxo para o título */
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-bottom: 15px;
}

.nav-item a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #c0c0c0;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.nav-item a:hover {
    background-color: #2c2c2c;
    color: #ffffff;
    transform: translateX(5px);
}

.nav-item.active a {
    background-color: #5d3587; /* Roxo escuro para o item ativo */
    color: #ffffff;
    font-weight: bold;
}

.nav-item .material-icons {
    margin-right: 15px;
    font-size: 24px;
    color: #9b59b6; /* Roxo para os ícones */
}

/* Content Container - Conteúdo Principal */
.content-container {
    margin-left: 250px;
    padding: 30px 50px;
    width: calc(100% - 250px);
}

.header {
    margin-bottom: 30px;
    padding-top: 20px;
}

.header h2 {
    font-size: 42px;
    font-weight: bold;
    color: #9b59b6; /* Título principal em roxo */
}

.banner {
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.banner p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #d0d0d0;
}

.banner img {
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        box-shadow: none;
        border-bottom: 1px solid #282828;
    }

    .logo {
        display: none;
    }

    .nav-menu ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .nav-item {
        margin: 0;
    }

    .nav-item a {
        flex-direction: column;
        align-items: center;
        padding: 8px;
        font-size: 12px;
    }

    .nav-item .material-icons {
        margin-right: 0;
        margin-bottom: 5px;
        font-size: 20px;
        color: #9b59b6;
    }

    .content-container {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }
}


